* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.header {

  background: linear-gradient(135deg, #172236, #0cb89f, #f59e0b);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;

  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;

  position: relative;
  z-index: 1000;
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  font-size: 22px;
  font-weight: 800;
}

.logo a {
  text-decoration: none;
  color: #dadedd;
}


.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #16a34a;
}

.btn-primary {
  text-decoration: none;
  background-color: #16a34a;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #15803d;
}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .nav {
    gap: 15px;
  }
}
